
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

   /*  --main-color: #317AC1;
    
    --main-color: #0e1620; */

    --banner-text: #163A5F;
    --global-text: #fbfbfe;
    --text-extra: #E33E5A;
    --button: #E33E5A;
    --button-hover: #e33e59a4;
    --title: #163A5F;
    --hover:#163A5F;

    --background: #202430;
    --second-background: #404348;
}

body{
    background-color: var(--background) !important;
}

.title{
    text-align: center;
    color: #163A5F;
    font-weight: 700;
    margin-bottom: 30px;
    margin-top: 30px;
    color: #ffff;
}

section{
    margin-bottom: 100px;
}
.banner, .banner_mobile{
    margin-bottom: 100px;
}
/******Navbar*****/
header{
    padding: 20px 0px;
}
.navbar-brand{
    font-weight: bold;
}
header .navbar{
    background-color: var(--background) !important;
}
.nav-link{
    color: var(--global-text) !important;  
}
.nav-link:hover{
    color: var(--text-extra) !important;
    transition: 0.3s ease-in-out;
}
.navbar .active{
    color: var(--text-extra) !important;
    font-weight: bold;
}
.bar{
    border-right: 4px solid #fff;
}
/*****Banner*******/
.banner_mobile{
    display: none;
}
.banner{
    margin-top: 150px;
    background-color: var(--background);
    display: grid;
    place-items: center;
}
.banner .content a{
    color: var(--banner-text);
    text-decoration: none;
    font-size: 32px;
    margin-bottom: 20px;
}
.banner .content a:hover{
    transform: translateY(-10px);
    transition: 0.3s all ease-in-out;
    color:var(--text-extra);
}
.banner .name_job h3{
    color: var(--banner-text);
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 20px;
}
.banner .name_job .typed {
    color: var(--text-extra);
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 40px;
}
.banner .description p{
    margin-bottom: 40px;
    color: var(--global-text);
    color: #fff;
}
.banner .description button{
    background: var(--button);
    padding: 10px;
    border: 2px solid var(--button);
    border-radius: 5px;
    margin-bottom: 100px;
}
.banner button:hover{
    background:  var(--button-hover);
    border: 2px solid  var(--button-hover);
}
.banner .description button a{
    text-decoration: none;
    color: #ffff;
    font-weight: bold;
}
.banner .description button a span{
    margin-left: 10px;
}
.banner .social{
    display: grid;
    place-items: center;
}
.banner .content{
    display: flex;
    flex-direction: column;
}
/********About*******/
.abouts{
    background: var(--second-background);
    color: var(--global-text);
}
.about .experience{
    display: flex;
}
.about button{
    background: var(--banner-text);
    padding: 10px;
    border: 2px solid #163A5F;
    border-radius: 5px;
}
.about button a{
    text-decoration: none;
    color: #ffff;
    font-weight: bold;
}
.about img{

    border-radius: 5px;
}
.experience{
        display: grid !important;
        grid-template-columns: repeat(2, 1fr);
        
}
.about .year{
    margin-right: 20px;
    box-shadow: 8px 6px 19px 2px #cacaca;
    -webkit-box-shadow: 8px 6px 19px 2px #cacaca;
    -moz-box-shadow: 8px 6px 19px 2px #cacaca;
    padding: 10px;
    margin-bottom: 30px;
    margin-top: 20px;
    text-align: center;
}
.about .projects{
    box-shadow: 8px 6px 19px 2px #cacaca;
    -webkit-box-shadow: 8px 6px 19px 2px #cacaca;
    -moz-box-shadow: 8px 6px 19px 2px #cacaca;
    padding: 10px;
    margin-bottom: 30px;
    margin-top: 20px;
    text-align: center;
}
.about .number {
    font-weight: bold;
    font-size: 24px;
    color: var(--text-extra);
}


/******Skills*******/
.skills{
    display: flex;
    justify-content: center;
    align-items: center;
}
.skills
.skills .accordion-item .accordion-button{
    background-color: #cda58e;
    color: #ffff;
    font-weight: bold;
    font-size: 18px;
}
.skills .content{
    width: 90%;
    margin: auto;
}
.skills .skills_title{
    display: flex;
    justify-content: space-between;
}
.skills .skills_title h5{
    font-weight: bold;
    color: #cda58e;
    font-size: 14px;
}
.accordion-button{
    background-color: var(--banner-text) !important;
    color: #fff !important;
    font-weight: bold;
    font-size: 21px
}
.accordion-button:focus {
    z-index: 3;
    border-color: #fff !important;
    outline: none;
    box-shadow: 0 0 0 .25rem rgba(255, 255, 255, 0) !important;
}

/****Parcours****/
.nav-tabs .active{
    color: var(--text-extra) !important;
}
.timeline::before{
    content: "";
    height: 100%;    
    width: 2px;
    position: absolute;
    left: 50% !important;
    transform: translateX(-50%);
    background-color: #E33E5A;
    overflow: hidden;
}

.timeline{
    height: auto;
    width: 80%;
    margin: 0 auto !important;
    overflow: hidden;
    margin-top: 50px;
}
.timeline_content span{
    color: gray;
    margin-bottom: 10px;
}
.timeline_content p{
    color: #fbfbfe;
    margin-top: 10px;
    color: #000;
    font-weight: 600;
}
.timeline_content .job{
    color: #E33E5A;
    margin: 10px auto;
}
.job span{
    color: #fff;
}

.timeline ul{
    list-style: none;
}
.timeline ul li{
    padding: 20px;
    background-color: var(--global-text);
    color: gray;
    border-radius: 10px;
    margin-bottom: 20px;
}
.timeline ul li:last-child{
    margin-bottom: 0;
}


    .timeline ul li{
        width: 50%;
        position: relative;
    }
    .timeline ul li:nth-child(odd){
        float: left;
        clear: right;
        transform: translateX(-30px) !important;
    }
    .timeline ul li:nth-child(even){
        float: right;
        clear: left;

    }
    .timeline ul li::after{
        content: "";
        position: absolute;
        height: 20px;
        width: 20px;
        background-color: var(--text-extra);
        border-radius: 50%;
        top: 0;
    }
    .timeline ul li:nth-child(odd)::after{
        right: -15px;
        transform: translate(50%,-50%);
    }
    .timeline ul li:nth-child(even)::after{
        left: -35px;
        transform: translate(50%,-50%);
    }






.parcours nav i{
    margin: 30px;
    font-size: 32px;
    color: var(--text-extra);
}
.parcours nav{
    margin-bottom: 40px;
}

/*******Services*****/
.services{
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--second-background);
}
.services a{
    background: none !important;
color: black;
float: inline-end;
}
/******Testimonial****/
.testimonial{
    justify-content: center;
    align-items: center;
    display: flex;
}
.testimonial .item{
    display: flex;
}
.testimonial img{
    width: 80px !important;
    height: 80px;
    border-radius: 100%;
    margin-right: 30px;
}


/******Portfolio*****/
.realisation{
    color: var(--global-text);
}
.realisation img{
    width: 250px;
    height: 250px;
    border-radius: 3px;
}

/**Owl navigation**/
.owl-nav{
    display: flex;
    justify-content: center;
}

/******Project*****/

.project{
   background-color: var(--second-background);
}
.project .content_text{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30vh;
    color: #fbfbfe;
    font-size: 18px;
    font-weight: 500;
}


.vide{
    display: none;
}

@media (max-width:991px) {
    section{
        margin-bottom: 100px;
    }
    .banners, .banner_mobile{
        margin-bottom: 100px;
        margin-top: 0;
    }

    /*******Navbar****/
    header {
        padding: 0px 0px;
    }
    .navbar{
        position: fixed !important;
        bottom: 0;
        width: 100%;
        z-index: 999;
        box-shadow: 8px 6px 19px 2px #cacaca;
        -webkit-box-shadow: 8px 6px 19px 2px #cacaca;
        -moz-box-shadow: 8px 6px 19px 2px #cacaca;
    }
    .navbar-nav{
        display: grid !important;
        place-items: center;
        grid-template-columns: repeat(3,1fr);
    }
    .navbar-collapse{
        margin-top: 30px;
    }
    .bar{
        display: none;
    }
    .navbar-brand{
        margin-top: 20px;
    }
    header button{
        margin-top: 20px;
    }
    /*******Banner******/

    /****Banner Mobile****/
    .banner_mobile{
        display: block;
    }
    .banner_mobile .reverse{
        display: flex;
        flex-direction: column-reverse;
    }
    /* .banner_mobile .contents{
        display: grid !important;
        place-items: center;
        grid-template-columns: repeat(2,1fr);
    } */
    .banner_mobile .contents{
        width: 90%;
        margin: auto;
        display: flex;
        flex-direction: row-reverse;
        margin: 50px auto;
    }
    .banner_mobile .contents .socials{
        display: flex;

        align-items: center;
    }
    .banner_mobile .content a{
        color: var(--banner-text);
        text-decoration: none;
        font-size: 32px;
        margin-bottom: 20px;
    }
    .banner_mobile .content a:hover{
        transform: translateY(-10px);
        transition: 0.3s all ease-in-out;
        color:var(--text-extra);
    }
    .banner_mobile .name_job h3{
        color: var(--banner-text);
        font-weight: 700;
        font-size: 28px;
        margin-bottom: 20px;
    }
    .banner_mobile .name_job .typed_mobile {
        color: var(--text-extra) ;
        font-weight: 700;
        font-size: 18px;
        margin-bottom: 50px;
    }
    .banner_mobile .description p{
        margin-bottom: 40px;
        color: var(--global-text);
    }
    .banner_mobile .description button{
        background: var(--button);
        padding: 10px;
        border: 2px solid var(--button);
        border-radius: 5px;
    }
    .banner_mobile button:hover{
        background-color:  var(--button-hover);
        border: 2px solid  var(--button-hover);
    }
    .banner_mobile .description button a{
        text-decoration: none;
        color: #ffff;
        font-weight: bold;
    }
    .banner_mobile .description button a span{
        margin-left: 10px;
    }
    .banner_mobile .social{
        display: grid;
        place-items: center;
    }
    .banner_mobile .content{
        display: flex;
        flex-direction: column;
    }
    /****End Banner Mobile******/

    /*****Banner Desktop***/
    .banner{
        display: none;
    }
    
    .banner .txt{
        display: flex;
        flex-direction:column;
        
    }
    .banner .content{
        margin-bottom: 10px;
        flex-direction: row;
    }
    .banner .content a{
        margin: 20px;
        margin-top: 50px;
    }

    /*********ABOUT********/
    .about .experience{
        display: grid !important;
        grid-template-columns: repeat(1, 1fr);
        
    }
    .about .experience .year{
        margin-right: 0px;
        margin-top: 20px;
        margin-bottom: 0;
    }
    .about img{
        width: 100%;
    }
    .about button{
        margin-bottom: 30px;
    }

    /*********Skill*****/
    .skills h3{
        margin-top: 30px;
    }
    /*******Testimonal****/
    .testimonial{
       margin-top: 30px;  
       color: var(--global-text);           
    }

    /****Parcours*******/
    .timeline{
        width: 100%;
        
    }

    /******** Project *******/
    .project{
        background-color: var(--banner-text);
        text-align: center;
    }
     .project .content .row{
        flex-direction: column-reverse;
    }
    .vide{
        display: block;
        min-height: 15vh;
    }

    
}
@media (max-width:641px) {
    .navbar-nav{
        grid-template-columns: repeat(auto 1fr);
    }
}
